@font-face {
	font-family: 'mallory-microplus';
	src: url('//content.academy.com/aurora/fonts/MalloryMP-Book.woff') format('woff');
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'mallory-microplus';
	src: url('//content.academy.com/aurora/fonts/MalloryMP-Medium.woff') format('woff');
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: 'mallory-microplus';
	src: url('//content.academy.com/aurora/fonts/MalloryMP-Bold.woff') format('woff');
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: 'mallory-ultra';
	src: url('//content.academy.com/aurora/fonts/Mallory-Ultra.woff') format('woff');
	font-style: normal;
	font-weight: 900;
}

#main {
	font-family: 'mallory-microplus', sans-serif;
}

b {
	font-weight: 700;
}

strong {
	font-family: 'mallory-ultra';
}