@font-face {
	font-family: 'mallory-microplus';
	src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/321123/MalloryMP-Book.woff') format('woff');
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'mallory-microplus';
	src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/321123/MalloryMP-Medium.woff') format('woff');
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: 'mallory-microplus';
	src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/321123/MalloryMP-Bold.woff') format('woff');
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: 'mallory-ultra';
	src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/321123/Mallory-Ultra.woff') format('woff');
	font-style: normal;
	font-weight: 900;
}

#main {
	font-family: 'mallory-microplus', sans-serif;
}

b {
	font-weight: 700;
}

strong {
	font-family: 'mallory-ultra';
}