//Backgrounds
.bg {
	//Primary Colors
	@at-root #{&}-red {
		background: $red-light;
	}
	@at-root #{&}-blue {
		background: $blue;
	}
	@at-root #{&}-gray {
		background: $gray-light;
	}
	@at-root #{&}-white {
		background: white;
	}
	@at-root #{&}-yellow {
		background: $yellow;
	}
	//Tertiary Colors
	@at-root #{&}-sf-lime {
		background: #D7DF21;
	}
	@at-root #{&}-sf-green {
		background: #476E76;
	}
	@at-root #{&}-sf-gray {
		background: #796E80;
	}
	@at-root #{&}-rl-red {
		background: #F15A4F;
	}
	@at-root #{&}-rl-blue {
		background: #009DAE;
	}
	@at-root #{&}-rl-gold {
		background: #FFCB08;
	}
	@at-root #{&}-fs-orange {
		background: #E07203;
	}
	@at-root #{&}-fs-green {
		background: #629D94;
	}
	@at-root #{&}-fs-tan {
		background: #CDB8A3;
	}
}

//Clearfix
.cf:after {
	content: "";
	display: table;
	clear: both;
}

//Fluid Images
.img-fluid {
	display: block;
	height: auto;
	width: 100%;
}

//Focus
.focus {
	@at-root #{&}-outline {
		&:focus {
			outline: 0.0625em dashed !important;
			outline-offset: 0.0625em !important;
			text-decoration: none;
		}
		a:focus {
			outline: 0.0625em dashed !important;
			outline-offset: 0.0625em !important;
			text-decoration: none;
		}
	}
	@at-root #{&}-underline {
		&:focus {
			text-decoration: underline !important;
		}
		a:focus {
			text-decoration: underline !important;
		}
	}
}

//Lists
.unlist {
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

//Margins
.m {
	//Top
	@at-root #{&}-t0 {
		margin-top: 0;
	}
	@at-root #{&}-t_5 {
		margin-top: 0.5em;
	}
	@at-root #{&}-t1 {
		margin-top: 1em;
	}
	@at-root #{&}-t2 {
		margin-top: 2em;
	}
	//Right
	@at-root #{&}-rauto {
		margin-right: auto;
	}
	@at-root #{&}-r0 {
		margin-right: 0;
	}
	@at-root #{&}-r_5 {
		margin-right: 0.5em;
	}
	@at-root #{&}-r1 {
		margin-right: 1em;
	}
	@at-root #{&}-r2 {
		margin-right: 2em;
	}
	//Bottom
	@at-root #{&}-b0 {
		margin-bottom: 0;
	}
	@at-root #{&}-b_5 {
		margin-bottom: 0.5em;
	}
	@at-root #{&}-b1 {
		margin-bottom: 1em;
	}
	@at-root #{&}-b2 {
		margin-bottom: 2em;
	}
	//Left
	@at-root #{&}-lauto {
		margin-left: auto;
	}
	@at-root #{&}-l0 {
		margin-left: 0;
	}
	@at-root #{&}-l_5 {
		margin-left: 0.5em;
	}
	@at-root #{&}-l1 {
		margin-left: 1em;
	}
	@at-root #{&}-l2 {
		margin-left: 2em;
	}
	//All Sides
	@at-root #{&}-0 {
		margin: 0;
	}
	@at-root #{&}-_5 {
		margin: 0.5em;
	}
	@at-root #{&}-1 {
		margin: 1em;
	}
	@at-root #{&}-2 {
		margin: 2em;
	}
}

//Max Widths
.mxw {
	@at-root #{&}-768 {
		max-width: 768px;
	}
	@at-root #{&}-1024 {
		max-width: 1024px;
	}
	@at-root #{&}-1280 {
		max-width: 1280px;
	}
	@at-root #{&}-1440 {
		max-width: 1440px;
	}
}

//Padding
.p {
	//Top
	@at-root #{&}-t0 {
		padding-top: 0;
	}
	@at-root #{&}-t_5 {
		padding-top: 0.5em;
	}
	@at-root #{&}-t1 {
		padding-top: 1em;
	}
	@at-root #{&}-t2 {
		padding-top: 2em;
	}
	//Right
	@at-root #{&}-r0 {
		padding-right: 0;
	}
	@at-root #{&}-r_5 {
		padding-right: 0.5em;
	}
	@at-root #{&}-r1 {
		padding-right: 1em;
	}
	@at-root #{&}-r2 {
		padding-right: 2em;
	}
	//Bottom
	@at-root #{&}-b0 {
		padding-bottom: 0;
	}
	@at-root #{&}-b_5 {
		padding-bottom: 0.5em;
	}
	@at-root #{&}-b1 {
		padding-bottom: 1em;
	}
	@at-root #{&}-b2 {
		padding-bottom: 2em;
	}
	//Left
	@at-root #{&}-l0 {
		padding-left: 0;
	}
	@at-root #{&}-l_5 {
		padding-left: 0.5em;
	}
	@at-root #{&}-l1 {
		padding-left: 1em;
	}
	@at-root #{&}-l2 {
		padding-left: 2em;
	}
	//All Sides
	@at-root #{&}-0 {
		padding: 0;
	}
	@at-root #{&}-_5 {
		padding: 0.5em;
	}
	@at-root #{&}-1 {
		padding: 1em;
	}
	@at-root #{&}-2 {
		padding: 2em;
	}
}

//Screen Reader Text 
.sr-only {
	border: 0;
	clip: rect(0,0,0,0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

// Type
.t {
	//Colors
	@at-root #{&}-red {
		color: $red;

	}
	@at-root #{&}-blue {
		color: $blue;
	}
	@at-root #{&}-white {
		color: #fff;
		a {
			color: #fff;
		}
	}
	@at-root #{&}-gray {
		color: $gray;
	}
	@at-root #{&}-black {
		color: $black;
		a {
			color: $black;
		}
	}
	//Transformation
	@at-root #{&}-uppercase {
		text-transform: uppercase;
	}
	@at-root #{&}-capitalize {
		text-transform: capitalize;
	}
	//Alignment
	@at-root #{&}-left {
		text-align: left;
	}
	@at-root #{&}-center {
		text-align: center;
	}
	@at-root #{&}-right {
		text-align: right;
	}
	//Size
	@at-root #{&}-1em {
		font-size: 1em;
	}
	//Weights
	@at-root #{&}-medium {
		font-weight: 500;
	}
	@at-root #{&}-normal {
		font-weight: 400;
	}
}

