$black:				#333333;
$gray-dark:			#555555;
$gray:				#787678;
$gray-light:		#EEEEEE;
$white:				#FFFFFF;
$blue:				#0055AA;
$blue-light:		#006EB7;
$red:				#CC0000;
$red-light:			#EE0000;
$green:				#008A00;
$yellow:			#FFDE00;
$border-color:		#CCCCCC;