//BOXY
@mixin boxy($color) {
	border: .5em solid $color;
	&:hover {
		border-color: darken($color, 5%);
		text-decoration: none;
	}
}
.promo-boxy {
	@at-root #{&}-blue {
		@include boxy($blue);
	}
	@at-root #{&}-red {
		@include boxy($red);
	}
	@at-root #{&}-gray {
		@include boxy($gray-light);
	}
	@at-root #{&}-white {
		@include boxy($white);
	}
	@at-root #{&}-sf-lime {
		@include boxy(#D7DF21);
	}
	@at-root #{&}-sf-green {
		@include boxy(#476E76);
	}
	@at-root #{&}-sf-gray {
		@include boxy(#796E80);
	}
	@at-root #{&}-rl-red {
		@include boxy(#F15A4F);
	}
	@at-root #{&}-rl-blue {
		@include boxy(#009DAE);
	}
	@at-root #{&}-rl-gold {
		@include boxy(#FFCB08);
	}
	@at-root #{&}-fs-orange {
		@include boxy(#E07203);
	}
	@at-root #{&}-fs-green {
		@include boxy(#629D94);
	}
	@at-root #{&}-fs-tan {
		@include boxy(#CDB8A3);
	}
}

//WARP ZONE
.promo-warpzone {
	position: relative;
}
.promo-warpzone-links {
	align-items: center;
	bottom: 0;
	display: none;
	justify-content: center;
	left: 0;
	padding: 1em;
	position: absolute;
	right: 0;
	top: 0;
	a:focus {
		outline: none !important;
		text-decoration: underline;
	}
	.promo-warpzone-toggle {
		font-weight: bold;
		line-height: 1;
		margin: .5em;
		padding: .5em;
		position: absolute;
		right: 0;
		text-align: center;
		text-decoration: none !important;
		top: 0;
		width: 2em;
		&:focus{
			outline: .0625em dashed !important;
		}
	}
}
.promo-warpzone.toggled .promo-warpzone-links {
	display: flex;
}

//PROMO DOTS
.promo-dot {
	align-items: center;
	background: $red;
	border-radius: 50%;
	color: $white;
	display: flex;
	flex-flow: column;
	height: 9.5em;
	justify-content: center;
	line-height: 1;
	padding: 1em 1em 1.25em;
	position: relative;
	text-align: center;
	width: 9.5em;
	strong:first-of-type {
		display: flex;
		flex-flow: column;
		margin-bottom: .25em;
		text-transform: uppercase;
		width: 100%;
	}
	strong + strong {
		font-size: 2em;
	}
	strong + span {
		margin-top: .25em;
	}
	@at-root #{&}-split {
		@extend .promo-dot;
		padding-bottom: 2em;
		strong:first-of-type {
			margin-bottom: 0;
			&:after{
				border-top: .25em solid $white;
				content: '';
				height: .25em;
				margin: .5em 0;
				width: 100%;
			}
		}
	}
	@at-root #{&}-was {
		@extend .promo-dot;
		strong {
			font-size: 2em;
			margin-bottom: 0 !important;
		}
	}
}